## **Exercise 00: load and save**

Prepare the project:

In [1]:
%pip install --upgrade pip
%pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pip in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (25.1.1)
Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Import allowed modules:

In [2]:
import pandas as pd

### `read_csv()`:

* filter the rows with index `2` and `3` using the argument `skiprows`, we know that these observations were fake.
* filter the last `2` rows from the footer using the argument `skipfooter`, we know that these observations were fake too.
* assign the following names to the column: `datetime`, `user`.
* use `datetime` as the index column.

Create a dictionary for `read_csv()` method calling:

In [3]:
read_csv_params: dict = {
    "engine": "python",
    "sep_symb": '\t',
    "file": "feed-views.log",
    "file_path": "../../datasets/",
    "skip_rows_nums": [2, 3, ],
    "skip_footer_len": 2,
    "cols_names": ["datetime", "user", ],
    "idx_col_name": "datetime",
}

Read a file data to *Pandas* dataframe:

In [4]:
df: pd.DataFrame = pd.read_csv(
    read_csv_params["file_path"] + read_csv_params["file"],
    skipfooter=read_csv_params["skip_footer_len"],
    index_col=read_csv_params["idx_col_name"],
    skiprows=read_csv_params["skip_rows_nums"],
    engine=read_csv_params["engine"],
    names=read_csv_params["cols_names"],
    sep=read_csv_params["sep_symb"],
)

Check *Pandas* dataframe data:

In [5]:
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [6]:
df.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

* rename `datetime` to `date_time`:

Write down a new column name to the variable:

In [7]:
new_col_name: str = "date_time"

Rename the column:

In [8]:
df.rename_axis(new_col_name, inplace=True, )

Check updated column name:

In [9]:
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

### `to_csv()`:

* use `;` as the delimiter.
* save it to a file with the name `feed-views-semicolon.log`.

Create a new dictionary for `to_csv()` method:

In [10]:
to_csv_params: dict = {
    "sep_symbol": ';',
    "file_path": "../../datasets/",
    "file": "feed-views-semicolon.log",
}

Save *Pandas* dataframe to `.csv` file:

In [11]:
df.to_csv(to_csv_params["file_path"] + to_csv_params["file"], sep=to_csv_params["sep_symbol"], )