## **Exercise 05: Pandas optimizations**

Prepare the project:

In [1]:
%pip install --upgrade pip
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (25.1.1)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Import allowed modules:

In [2]:
import warnings  # For ignoring warnings

import pandas as pd

In [3]:
warnings.filterwarnings("ignore", )  # Ignore warnings

### read the `concat_rows.csv`:

Create a dictionary for `read_csv()` command using:

In [4]:
read_csv_params: dict = {"file_path": "../../datasets/", "file": "concat_rows.csv", }

Read `.csv` file:

In [5]:
df: pd.DataFrame = pd.read_csv(read_csv_params["file_path"] + read_csv_params["file"], )

Check *Pandas* dataframe:

In [6]:
df.head()

      CarNumber  Refund   Fines    Make  Model  Year
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995
2   7184TT36RUS       1  2100.0    Ford  Focus  1984
3  X582HE161RUS       2  2000.0    Ford  Focus  2015
4  92918M178RUS       1  5700.0    Ford  Focus  2014

### iterations: in all the following subtasks, you need to calculate `fines/refund*year` for each row and create a new column with the calculated data and measure the time using the magic command `%%timeit` in the cell:

* loop: write a function that iterates through the dataframe using `for i in range(0, len(df, ), )`, `iloc` and `append()` to a list, assign the result of the function to a new column in the dataframe:

In [7]:
def func(df: pd.DataFrame) -> None:
    """
    ...
    """

    new_col: list = []

    for i in range(0, len(df, ), ):
        new_col.append(df.iloc[i]["Fines"] / df.iloc[i]["Refund"] * df.iloc[i]["Year"], )

    df["Values"] = pd.Series(new_col, )

Calculate new column:

In [8]:
%%timeit
func(df, )

90.7 ms ± 3.34 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

Check updated *Pandas* dataframe:

In [9]:
df.head()

      CarNumber  Refund   Fines    Make  Model  Year      Values
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989   3182400.0
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995  12967500.0
2   7184TT36RUS       1  2100.0    Ford  Focus  1984   4166400.0
3  X582HE161RUS       2  2000.0    Ford  Focus  2015   2015000.0
4  92918M178RUS       1  5700.0    Ford  Focus  2014  11479800.0

* do it using `iterrows()`:

In [10]:
def func_two(df: pd.DataFrame) -> None:
    """
    ...
    """

    new_col: list = []

    for index, row in df.iterrows():
        new_col.append(row["Fines"] / row["Refund"] * row["Year"], )

    df["Values_two"] = pd.Series(new_col, )

Calculate new column:

In [11]:
%%timeit
func_two(df, )

29.6 ms ± 576 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

Check updated *Pandas* dataframe:

In [12]:
df.head()

      CarNumber  Refund   Fines    Make  Model  Year      Values  Values_two
0  Y163O8161RUS       2  3200.0    Ford  Focus  1989   3182400.0   3182400.0
1   E432XX77RUS       1  6500.0  Toyota  Camry  1995  12967500.0  12967500.0
2   7184TT36RUS       1  2100.0    Ford  Focus  1984   4166400.0   4166400.0
3  X582HE161RUS       2  2000.0    Ford  Focus  2015   2015000.0   2015000.0
4  92918M178RUS       1  5700.0    Ford  Focus  2014  11479800.0  11479800.0

* do it using `apply()` and `lambda` function:

In [13]:
%%timeit
df["Values_three"] = df.apply(lambda row: row["Fines"] / row["Refund"] * row["Year"], axis=1, )

6.12 ms ± 114 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Check updated *Pandas* dataframe:

In [14]:
df.head()

,CarNumber,Refund,Fines,Make,Model,Year,Values,Values_two,Values_three
0,Y163O8161RUS,2,3200.0,Ford,Focus,1989,3182400.0,3182400.0,3182400.0
1,E432XX77RUS,1,6500.0,Toyota,Camry,1995,12967500.0,12967500.0,12967500.0
2,7184TT36RUS,1,2100.0,Ford,Focus,1984,4166400.0,4166400.0,4166400.0
3,X582HE161RUS,2,2000.0,Ford,Focus,2015,2015000.0,2015000.0,2015000.0
4,92918M178RUS,1,5700.0,Ford,Focus,2014,11479800.0,11479800.0,11479800.0

* do it using `Series` objects from the `dataframe`:

In [15]:
%%timeit
df["Values_four"] = df["Fines"] / df["Refund"] * df["Year"]

153 μs ± 1.99 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

Check updated *Pandas* dataframe:

In [16]:
df.head()

,CarNumber,Refund,Fines,Make,Model,Year,Values,Values_two,Values_three,Values_four
0,Y163O8161RUS,2,3200.0,Ford,Focus,1989,3182400.0,3182400.0,3182400.0,3182400.0
1,E432XX77RUS,1,6500.0,Toyota,Camry,1995,12967500.0,12967500.0,12967500.0,12967500.0
2,7184TT36RUS,1,2100.0,Ford,Focus,1984,4166400.0,4166400.0,4166400.0,4166400.0
3,X582HE161RUS,2,2000.0,Ford,Focus,2015,2015000.0,2015000.0,2015000.0,2015000.0
4,92918M178RUS,1,5700.0,Ford,Focus,2014,11479800.0,11479800.0,11479800.0,11479800.0

* do it as in the previous subtask but with the method `.values`:

In [17]:
%%timeit
df["Values_five"] = df["Fines"].values / df["Refund"].values * df["Year"].values

74.2 μs ± 717 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

Check updated *Pandas* dataframe:

In [18]:
df.head()

,CarNumber,Refund,Fines,Make,Model,Year,Values,Values_two,Values_three,Values_four,Values_five
0,Y163O8161RUS,2,3200.0,Ford,Focus,1989,3182400.0,3182400.0,3182400.0,3182400.0,3182400.0
1,E432XX77RUS,1,6500.0,Toyota,Camry,1995,12967500.0,12967500.0,12967500.0,12967500.0,12967500.0
2,7184TT36RUS,1,2100.0,Ford,Focus,1984,4166400.0,4166400.0,4166400.0,4166400.0,4166400.0
3,X582HE161RUS,2,2000.0,Ford,Focus,2015,2015000.0,2015000.0,2015000.0,2015000.0,2015000.0
4,92918M178RUS,1,5700.0,Ford,Focus,2014,11479800.0,11479800.0,11479800.0,11479800.0,11479800.0

### indexing: measure the time using the magic command `%%timeit` in the cell:

* get a row for a specific `CarNumber`, for example, `O136HO197RUS`:

Save a specific car number to the variable:

In [19]:
spec_car_num: str = "O136HO197RUS"

Get all *Pandas* dataframe rows with specific `CarNumber`:

In [20]:
%%timeit
df[df["CarNumber"] == spec_car_num]

230 μs ± 6.23 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

* set the index in your dataframe with `CarNumber`:

In [21]:
df_idx_copy: pd.DataFrame = df.set_index("CarNumber", )

* get a row for the same `CarNumber`:

In [22]:
%%timeit
df_idx_copy.loc[spec_car_num]

110 μs ± 1.53 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

### downcasting:

* run `df.info(memory_usage=deep, )`, pay attention to the Dtype and the memory usage:

In [23]:
df.info(memory_usage="deep", )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925 entries, 0 to 924
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CarNumber     925 non-null    object
 1   Refund        925 non-null    int64
 2   Fines         925 non-null    float64
 3   Make          925 non-null    object
 4   Model         914 non-null    object
 5   Year          925 non-null    int64
 6   Values        925 non-null    float64
 7   Values_two    925 non-null    float64
 8   Values_three  925 non-null    float64
 9   Values_four   925 non-null    float64
 10  Values_five   925 non-null    float64
dtypes: float64(6), int64(2), object(3)
memory usage: 210.0 KB

* make a `copy()` of your initial dataframe into another dataframe optimized:

In [24]:
optimized_df: pd.DataFrame = df.copy()

Optimized *Pandas* dataframe fields:

In [25]:
optimized_df["Refund"] = pd.to_numeric(optimized_df["Refund"], downcast="integer", )
optimized_df["Year"] = pd.to_numeric(optimized_df["Year"], downcast="integer", )
optimized_df["Fines"] = pd.to_numeric(optimized_df["Fines"], downcast="integer", )
optimized_df["Values"] = pd.to_numeric(optimized_df["Values"], downcast="integer", )
optimized_df["Values_two"] = pd.to_numeric(optimized_df["Values_two"], downcast="integer", )
optimized_df["Values_three"] = pd.to_numeric(optimized_df["Values_three"], downcast="integer", )
optimized_df["Values_four"] = pd.to_numeric(optimized_df["Values_four"], downcast="integer", )
optimized_df["Values_five"] = pd.to_numeric(optimized_df["Values_five"], downcast="integer", )
optimized_df = optimized_df.set_index("CarNumber",)

Check again `.info()` of optimized *Pandas* dataframe:

In [26]:
optimized_df.info(memory_usage="deep", )

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, Y163O8161RUS to T119CT96RUS
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Refund        925 non-null    int8
 1   Fines         925 non-null    float64
 2   Make          925 non-null    object
 3   Model         914 non-null    object
 4   Year          925 non-null    int16
 5   Values        925 non-null    float64
 6   Values_two    925 non-null    float64
 7   Values_three  925 non-null    float64
 8   Values_four   925 non-null    float64
 9   Values_five   925 non-null    float64
dtypes: float64(6), int16(1), int8(1), object(2)
memory usage: 198.2 KB