# **Exercise 01: basic operations**

Prepare the project:

In [1]:
%pip install --upgrade pip
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (25.1.1)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\deniz\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Import allowed modules:

In [2]:
import pandas as pd

### create a dataframe `views` with two columns: `datetime` and `user` by reading `feed-views.log`:

* convert the `datetime` to the `datetime64[ns]` Dtype.

Create a dictionary for `read_csv()` method calling:

In [3]:
read_csv_params: dict = {
    "sep_symbol": '\t',
    "file": "feed-views.log",
    "file_path": "../../datasets/",
    "cols_names": ["datetime", "user", ],
    "parse_dates": ["datetime", ],
}

Read the data file to *Pandas* dataframe:

In [4]:
views: pd.DataFrame = pd.read_csv(
    read_csv_params["file_path"] + read_csv_params["file"],
    names=read_csv_params["cols_names"],
    sep=read_csv_params["sep_symbol"],
    parse_dates=read_csv_params["parse_dates"],
)

Check a new dataframe:

In [5]:
views.head()

                    datetime   user
0 2020-04-17 12:01:08.463179  artem
1 2020-04-17 12:01:23.743946  artem
2 2020-04-17 12:27:30.646665  artem
3 2020-04-17 12:35:44.884757  artem
4 2020-04-17 12:35:52.735016  artem

Check `datetime` column type:

In [6]:
print(views["datetime"].dtype, )

datetime64[ns]

* extract: `year`, `month`, `day`, `hour`, `minute`, `second` from the values of that column to the new columns:

In [7]:
views["day"] = views["datetime"].dt.day
views["year"] = views["datetime"].dt.year
views["hour"] = views["datetime"].dt.hour
views["month"] = views["datetime"].dt.month
views["minute"] = views["datetime"].dt.minute
views["second"] = views["datetime"].dt.second

Check new *Pandas* dataframe columns:

In [8]:
views.head()

                    datetime   user  day  year  hour  month  minute  second
0 2020-04-17 12:01:08.463179  artem   17  2020    12      4       1       8
1 2020-04-17 12:01:23.743946  artem   17  2020    12      4       1      23
2 2020-04-17 12:27:30.646665  artem   17  2020    12      4      27      30
3 2020-04-17 12:35:44.884757  artem   17  2020    12      4      35      44
4 2020-04-17 12:35:52.735016  artem   17  2020    12      4      35      52

### create the new column `daytime`:

* need to assign the particular time of day value if an hour is within a particular interval: 0 – 3.59 `night`, 4 – 6.59 `early morning`, 7 – 10.59 `morning`, 11 – 16.59 `afternoon`, 17 – 19.59 `early evening`, 20 – 23.59 `evening`.
* use the method `cut` to solve this subtask.

Create bins and labels for `cut()` method calling:

In [9]:
cut_bins: list[int] = [
    0,
    4,
    7,
    11,
    17,
    20,
    24,
]
cut_labels: list[str] = [
    "night",
    "early morning",
    "morning",
    "afternoon",
    "early evening",
    "evening",
]

In [10]:
views["daytime"] = pd.cut(
    views["hour"],
    bins=cut_bins,
    labels=cut_labels,
    right=False,
    include_lowest=True,
)

Check new column:

In [11]:
views.head()

,datetime,user,day,year,hour,month,minute,second,daytime
0,2020-04-17 12:01:08.463179,artem,17,2020,12,4,1,8,afternoon
1,2020-04-17 12:01:23.743946,artem,17,2020,12,4,1,23,afternoon
2,2020-04-17 12:27:30.646665,artem,17,2020,12,4,27,30,afternoon
3,2020-04-17 12:35:44.884757,artem,17,2020,12,4,35,44,afternoon
4,2020-04-17 12:35:52.735016,artem,17,2020,12,4,35,52,afternoon

* assign the column `user` as the index:

In [12]:
views.set_index("user", inplace=True, )

Check new index column:

In [13]:
views.head()

,datetime,day,year,hour,month,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,17,2020,12,4,1,8,afternoon
artem,2020-04-17 12:01:23.743946,17,2020,12,4,1,23,afternoon
artem,2020-04-17 12:27:30.646665,17,2020,12,4,27,30,afternoon
artem,2020-04-17 12:35:44.884757,17,2020,12,4,35,44,afternoon
artem,2020-04-17 12:35:52.735016,17,2020,12,4,35,52,afternoon

### calculate the number of elements in your dataframe:

* use the method `count()`:

In [14]:
views.count()

datetime    1076
day         1076
year        1076
hour        1076
month       1076
minute      1076
second      1076
daytime     1076
dtype: int64

* calculate the number of elements in each time of day category using the method `value_counts()`:

In [15]:
views["daytime"].value_counts()

daytime
evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: count, dtype: int64

### sort values in your dataframe by: `hour`, `minute`, `second` in ascending order:

Create a list of sorting columns:

In [16]:
sorting_cols: list[str] = [
    "hour",
    "minute",
    "second",
]

Sort *Pandas* dataframe:

In [17]:
views.sort_values(by=sorting_cols, inplace=True, )

Check sorted *Pandas* dataframe:

In [18]:
views.head()

,datetime,day,year,hour,month,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,15,2020,0,5,0,13,night
valentina,2020-05-15 00:01:05.153738,15,2020,0,5,1,5,night
pavel,2020-05-12 00:01:27.764025,12,2020,0,5,1,27,night
pavel,2020-05-12 00:01:38.444917,12,2020,0,5,1,38,night
pavel,2020-05-12 00:01:55.395042,12,2020,0,5,1,55,night

In [19]:
views.tail()

,datetime,day,year,hour,month,minute,second,daytime
user,,,,,,,,
artem,2020-05-21 23:49:22.386789,21,2020,23,5,49,22,evening
anatoliy,2020-05-09 23:53:55.599821,9,2020,23,5,53,55,evening
pavel,2020-05-09 23:54:54.260791,9,2020,23,5,54,54,evening
valentina,2020-05-14 23:58:56.754866,14,2020,23,5,58,56,evening
alexander,2020-05-14 23:59:38.758438,14,2020,23,5,59,38,evening

### calculate the minimum and maximum for the `hour` and the mode for the `daytime` categories:

* calculate the maximum of `hour` for the rows where the time of day is `night`:

In [20]:
max_night_hour: int = max(views[views["daytime"] == "night"]["hour"], )

Show the result:

In [21]:
print(f"The maximum of hour for the rows where the time of day is night: {max_night_hour}", )

The maximum of hour for the rows where the time of day is night: 3

* calculate the minimum of `hour` for the rows where the time of day is `morning`:

In [22]:
min_morning_hour: int = min(views[views["daytime"] == "morning"]["hour"], )

Show the result:

In [23]:
print(f"The minimum of hour for the rows where the time of day is morning: {min_morning_hour}", )

The minimum of hour for the rows where the time of day is morning: 8

* find out who visited the page at those hours:

In [24]:
views[views["hour"] == max_night_hour].index.unique().values

array(['konstantin'], dtype=object)

In [25]:
views[views["hour"] == min_morning_hour].index.unique().values

array(['alexander'], dtype=object)

* calculate the mode for the `hour` and `daytime`:

In [26]:
views["hour"].mode()

0    22
Name: hour, dtype: int32

In [27]:
views["daytime"].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

### show the `3` earliest hours in the `morning` and the corresponding usernames and the `3` latest hours and the usernames using `nsmallest()` and `nlargest()`:

Create a list for `nsmallest()` method calling:

In [28]:
sorting_cols: list[str] = [
    "hour",
    "year",
    "day",
    "month",
    "minute",
    "second",        
]

In [29]:
views[views["daytime"] == "morning"].nsmallest(
    3,
    sorting_cols,
    keep="first",
)["hour"]

user
alexander    8
alexander    8
anatoliy     9
Name: hour, dtype: int32

In [30]:
views[views["daytime"] == "morning"].nlargest(
    3,
    sorting_cols,
    keep="first",
)["hour"]

user
konstantin    10
konstantin    10
artem         10
Name: hour, dtype: int32

### use the method `describe()` to get the basic statistics for the columns:

Get base statistics:

In [31]:
basic_stats: pd.DataFrame = views.describe()

Check basic statistics:

In [32]:
basic_stats

,datetime,day,year,hour,month,minute,second
count,1076,1076.000000,1076.0,1076.000000,1076.000000,1076.000000,1076.000000
mean,2020-05-10 09:00:41.211420672,13.552974,2020.0,16.249071,4.870818,29.629182,29.500929
min,2020-04-17 12:01:08.463179,1.000000,2020.0,0.000000,4.000000,0.000000,0.000000
25%,2020-05-10 01:13:49.857472,11.000000,2020.0,13.000000,5.000000,14.000000,14.000000
50%,2020-05-11 22:48:35.302552832,13.000000,2020.0,19.000000,5.000000,29.000000,30.000000
75%,2020-05-14 14:44:34.749530624,15.000000,2020.0,22.000000,5.000000,46.000000,45.000000
max,2020-05-22 10:36:14.662600,30.000000,2020.0,23.000000,5.000000,59.000000,59.000000
std,NaN,4.906567,0.0,6.955490,0.335557,17.689388,17.405506

* to find out what the most popular interval for visiting the page is, calculate the interquartile range for the `hour` by extracting values from the result of the `describe()` method and store it in the variable `iqr`:

Get the quartiles:

In [33]:
q1: float = views["hour"].describe()["25%"]
q3: float = views["hour"].describe()["75%"]

Calculate interquartile range:

In [34]:
iqr: float = q3 - q1

Check interquartile range `hour` value:

In [35]:
iqr

np.float64(9.0)